.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-align: center;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1121px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 43px 185px 0 152px;
}

.u-section-2 .u-text-2 {
  font-size: 0.625rem;
  margin: 17px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-25 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-26 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-27 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-28 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-29 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-30 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-31 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-32 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-33 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-34 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-35 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-36 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-37 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 43px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 803px;
    margin-left: 52px;
    margin-right: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1029px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  animation-duration: 2500ms;
  margin: 21px auto 0 253px;
}

.u-section-3 .u-text-1 {
  width: 500px;
  animation-duration: 1000ms;
  font-size: 4.5rem;
  font-weight: 700;
  margin: -22px auto 0;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -31px 270px 0 auto;
}

.u-section-3 .u-line-1 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 9px;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-align: center;
  margin: 9px 29px 0 611px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: -36px 605px 0 35px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 59px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 672px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 729px;
}

.u-section-3 .u-container-layout-2 {
  padding: 23px 28px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-3 .u-rotation-parent-1 {
  width: 140px;
  height: 321px;
  margin: -36px 166px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 321px;
  height: 140px;
  background-image: url("images/moi1.JPG");
  background-position: 50% 50%;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  text-align: justify;
  margin: 0;
}

.u-section-3 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: -59px auto 27px 13px;
}

.u-section-3 .u-icon-3 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-3 .u-icon-4 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-3 .u-icon-5 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 440px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 440px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 554px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 601px;
  }

  .u-section-3 .u-rotation-parent-1 {
    height: 322px;
  }

  .u-section-3 .u-image-1 {
    width: 140px;
    margin: 21px auto 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 194px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 207px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 220px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 220px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-right: 164px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 146px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 155px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 40px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 40px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-icon-1 {
    margin-left: 92px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 98px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 216px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 41px 190px 0 auto;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  animation-duration: 2500ms;
  margin: -135px auto 0 184px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -32px -7px -6px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-icon-1 {
    margin-right: 143px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 138px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-icon-1 {
    margin-right: 90px;
  }

  .u-section-4 .u-icon-2 {
    margin-right: 276px;
    margin-left: 87px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 640px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 102px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 70px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 774px;
}

.u-section-6 .u-text-1 {
  animation-duration: 1000ms;
  margin: 21px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 15px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  min-height: 541px;
  background-image: url("images/accueil_climat2.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 -23px 0 auto;
}

.u-section-6 .u-image-2 {
  min-height: 541px;
  background-image: url("images/DOSSIERIMZGE.jpg");
  background-position: 96.23% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 218px 0 0;
  padding: 10px 91px 10px 89px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-image-1 {
    min-height: 446px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    min-height: 446px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-6 .u-image-1 {
    min-height: 342px;
  }

  .u-section-6 .u-image-2 {
    min-height: 342px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1259px;
  }

  .u-section-6 .u-image-1 {
    min-height: 513px;
  }

  .u-section-6 .u-image-2 {
    min-height: 513px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-6 .u-image-1 {
    min-height: 323px;
  }

  .u-section-6 .u-image-2 {
    min-height: 323px;
  }
}